@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Candal);
@font-face {
    font-family: Bebas;
    src: url(../fonts/BebasNeue.otf);
    }
@font-face {
	font-family: BigNoodle;
	src: url('../fonts/BigNoodle.ttf');
}
#center2{
	position: relative; 
	left: 180px;
}
#center1{
	position: relative; 
	left: 380px;
}
#gov-pag{
	background: url("../img/publica/bandeira.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
#sec-pag{
	background: url("../img/publica/bandeira.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
#cart-pag{
	background: url("../img/publica/bandeira.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#titulos{
	text-align: center;
	color:#fff;
	font-family: Bebas;
	font-size: 300%;
	margin: auto auto auto auto;
	border-radius: 2px;
    width: 66%;	
    height:16%;
    padding:20px;
	border: 2px solid white;
}
h5#caracteristicas{
	font-family: 'BigNoodle';
	color: #fff;
	font-size: 25pt;
	text-align: center;
}